### ![Spark Logo Tiny](https://files.training.databricks.com/images/105/logo_spark_tiny.png) Extrayendo strings con substring

#### substring

In [0]:
from pyspark.sql.functions import *
# from pyspark.sql import functions as f

empleados = [(1, 'Scott', 'Tiger', 1000.0, 'United States', '+1 123 456 7890', '123 45 6789'),
             (2, 'Henry', 'Ford', 1250.0, 'India', '+91 234 567 8901', '456 78 9123'),
             (3, 'Nick', 'Menza', 750.0, 'United Kingdom', '+44 111 111 1111', '222 33 4444'),
             (4, 'Bill', 'Gates', 1500.0, 'Asutralia', '+61 987 654 3210', '789 12 6118')
            ]

df = spark.createDataFrame(empleados).toDF('id','nombre', 'apellido', 'salario', 'nacionalidad', 'telefono', 'ssn')
df.show()

+---+------+--------+-------+--------------+----------------+-----------+
| id|nombre|apellido|salario|  nacionalidad|        telefono|        ssn|
+---+------+--------+-------+--------------+----------------+-----------+
|  1| Scott|   Tiger| 1000.0| United States| +1 123 456 7890|123 45 6789|
|  2| Henry|    Ford| 1250.0|         India|+91 234 567 8901|456 78 9123|
|  3|  Nick|   Menza|  750.0|United Kingdom|+44 111 111 1111|222 33 4444|
|  4|  Bill|   Gates| 1500.0|     Asutralia|+61 987 654 3210|789 12 6118|
+---+------+--------+-------+--------------+----------------+-----------+

In [0]:
df.select('id','nombre','telefono','ssn'). \
   withColumn('tel_substring', substring(col('telefono'), -4, 4).cast('int')). \
   withColumn('ssn_substring', substring(col('ssn'), 8, 4).cast('int')). \
   show()

+---+------+----------------+-----------+-------------+-------------+
| id|nombre|        telefono|        ssn|tel_substring|ssn_substring|
+---+------+----------------+-----------+-------------+-------------+
|  1| Scott| +1 123 456 7890|123 45 6789|         7890|         6789|
|  2| Henry|+91 234 567 8901|456 78 9123|         8901|         9123|
|  3|  Nick|+44 111 111 1111|222 33 4444|         1111|         4444|
|  4|  Bill|+61 987 654 3210|789 12 6118|         3210|         6118|
+---+------+----------------+-----------+-------------+-------------+