### ![Spark Logo Tiny](https://files.training.databricks.com/images/105/logo_spark_tiny.png) Creación de un Dataframe con una lista y .toDF

#### Ejemplo 1

In [0]:
empleados = [(1, 'Scott', 'Tiger', 1000.0, 'United States', '+1 123 456 7890', '123 45 6789'),
             (2, 'Henry', 'Ford', 1250.0, 'India', '+91 234 567 8901', '456 78 9123'),
             (3, 'Nick', 'Menza', 750.0, 'United Kingdom', '+44 111 111 1111', '222 33 4444'),
             (4, 'Bill', 'Gates', 1500.0, 'Asutralia', '+61 987 654 3210', '789 12 6118')
            ]

df = spark.createDataFrame(empleados).toDF('id','nombre', 'apellido', 'salario', 'nacionalidad', 'telefono', 'ssn')

In [0]:
df.printSchema()

root
 |-- id: long (nullable = true)
 |-- nombre: string (nullable = true)
 |-- apellido: string (nullable = true)
 |-- salario: double (nullable = true)
 |-- nacionalidad: string (nullable = true)
 |-- telefono: string (nullable = true)
 |-- ssn: string (nullable = true)

In [0]:
df.show()

+---+------+--------+-------+--------------+----------------+-----------+
| id|nombre|apellido|salario|  nacionalidad|        telefono|        ssn|
+---+------+--------+-------+--------------+----------------+-----------+
|  1| Scott|   Tiger| 1000.0| United States| +1 123 456 7890|123 45 6789|
|  2| Henry|    Ford| 1250.0|         India|+91 234 567 8901|456 78 9123|
|  3|  Nick|   Menza|  750.0|United Kingdom|+44 111 111 1111|222 33 4444|
|  4|  Bill|   Gates| 1500.0|     Asutralia|+61 987 654 3210|789 12 6118|
+---+------+--------+-------+--------------+----------------+-----------+

#### Ejemplo 2

In [0]:
df = spark.read.format("csv").\
     option("inferSchema",True).\
     option("header",True).\
     option("sep",",").\
     load('/FileStore/2021-03-21/races.csv')

df.show(n=3, truncate=False, vertical=False)

+------+----+-----+---------+---------------------+----------+--------+-------------------------------------------------------+
|raceId|year|round|circuitId|name                 |date      |time    |url                                                    |
+------+----+-----+---------+---------------------+----------+--------+-------------------------------------------------------+
|1     |2009|1    |1        |Australian Grand Prix|2009-03-29|06:00:00|http://en.wikipedia.org/wiki/2009_Australian_Grand_Prix|
|2     |2009|2    |2        |Malaysian Grand Prix |2009-04-05|09:00:00|http://en.wikipedia.org/wiki/2009_Malaysian_Grand_Prix |
|3     |2009|3    |17       |Chinese Grand Prix   |2009-04-19|07:00:00|http://en.wikipedia.org/wiki/2009_Chinese_Grand_Prix   |
+------+----+-----+---------+---------------------+----------+--------+-------------------------------------------------------+
only showing top 3 rows

In [0]:
df = spark.read.\
     option("inferSchema",True).\
     option("header",True).\
     option("sep",",").\
     csv('/FileStore/2021-03-21/races.csv').\
     toDF('carreraId','ano','ronda','circuitoId','nombre','fecha','hora','url')

df.show(n=3, truncate=False, vertical=False)

+---------+----+-----+----------+---------------------+----------+--------+-------------------------------------------------------+
|carreraId|ano |ronda|circuitoId|nombre               |fecha     |hora    |url                                                    |
+---------+----+-----+----------+---------------------+----------+--------+-------------------------------------------------------+
|1        |2009|1    |1         |Australian Grand Prix|2009-03-29|06:00:00|http://en.wikipedia.org/wiki/2009_Australian_Grand_Prix|
|2        |2009|2    |2         |Malaysian Grand Prix |2009-04-05|09:00:00|http://en.wikipedia.org/wiki/2009_Malaysian_Grand_Prix |
|3        |2009|3    |17        |Chinese Grand Prix   |2009-04-19|07:00:00|http://en.wikipedia.org/wiki/2009_Chinese_Grand_Prix   |
+---------+----+-----+----------+---------------------+----------+--------+-------------------------------------------------------+
only showing top 3 rows

#### Ejemplo 3 (Incorrecto)

In [0]:
columnas = ['carreraId','ano','ronda','circuitoId','nombre','fecha','hora','url']

df = spark.read.\
     option("inferSchema",True).\
     option("header",True).\
     option("sep",",").\
     csv('/FileStore/2021-03-21/races.csv').\
     toDF(columnas)

df.show(n=3, truncate=False, vertical=False)

---------------------------------------------------------------------------
IllegalArgumentException                  Traceback (most recent call last)
File <command-619386710229849>:3
      1 columnas = ['carreraId','ano','ronda','circuitoId','nombre','fecha','hora','url']
----> 3 df = spark.read.\
      4      option("inferSchema",True).\
      5      option("header",True).\
      6      option("sep",",").\
      7      csv('/FileStore/2021-03-21/races.csv').\
      8      toDF(columnas)
     10 df.show(n=3, truncate=False, vertical=False)

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

File /databricks/spark/python/pyspark/sql/dataframe.py:4943, in DataFrame.toDF(self, *cols)
   4912 def toDF(self, *cols: str) -> "DataFrame":
   4913     """Returns a new :class:`DataFrame` that with new specified column names
   4914
   4915     .. versionchanged:: 3.4.0
   (...)
   4941     +---+-----+
   4942     """
-> 4943     jdf = self._jdf.toDF(self._jseq(cols))
   4944     return DataFrame(jdf, self.sparkSession)

File /databricks/spark/python/lib/py4j-0.10.9.5-src.zip/py4j/java_gateway.py:1321, in JavaMember.__call__(self, *args)
   1315 command = proto.CALL_COMMAND_NAME +\
   1316     self.command_header +\
   1317     args_command +\
   1318     proto.END_COMMAND_PART
   1320 answer = self.gateway_client.send_command(command)
-> 1321 return_value = get_return_value(
   1322     answer, self.gateway_client, self.target_id, self.name)
   1324 for temp_arg in temp_args:
   1325     temp_arg._detach()

File /databricks/spark/python/pyspark/errors/exceptions.py:234, in capture_sql_exception.<locals>.deco(*a, **kw)
    230 converted = convert_exception(e.java_exception)
    231 if not isinstance(converted, UnknownException):
    232     # Hide where the exception came from that shows a non-Pythonic
    233     # JVM exception message.
--> 234     raise converted from None
    235 else:
    236     raise

IllegalArgumentException: requirement failed: The number of columns doesn't match.
Old column names (8): raceId, year, round, circuitId, name, date, time, url
New column names (1): [carreraId, ano, ronda, circuitoId, nombre, fecha, hora, url]

#### Ejemplo 4

In [0]:
columnas = ['carreraId','ano','ronda','circuitoId','nombre','fecha','hora','url']
print(*columnas)

carreraId ano ronda circuitoId nombre fecha hora url

In [0]:
columnas = ['carreraId','ano','ronda','circuitoId','nombre','fecha','hora','url']

df = spark.read.\
     option("inferSchema",True).\
     option("header",True).\
     option("sep",",").\
     csv('/FileStore/2021-03-21/races.csv').\
     toDF(*columnas)

df.show(n=3, truncate=False, vertical=False)

+---------+----+-----+----------+---------------------+----------+--------+-------------------------------------------------------+
|carreraId|ano |ronda|circuitoId|nombre               |fecha     |hora    |url                                                    |
+---------+----+-----+----------+---------------------+----------+--------+-------------------------------------------------------+
|1        |2009|1    |1         |Australian Grand Prix|2009-03-29|06:00:00|http://en.wikipedia.org/wiki/2009_Australian_Grand_Prix|
|2        |2009|2    |2         |Malaysian Grand Prix |2009-04-05|09:00:00|http://en.wikipedia.org/wiki/2009_Malaysian_Grand_Prix |
|3        |2009|3    |17        |Chinese Grand Prix   |2009-04-19|07:00:00|http://en.wikipedia.org/wiki/2009_Chinese_Grand_Prix   |
+---------+----+-----+----------+---------------------+----------+--------+-------------------------------------------------------+
only showing top 3 rows