### ![Spark Logo Tiny](https://files.training.databricks.com/images/105/logo_spark_tiny.png) Añadir una nueva columna

In [ ]:
from pyspark.sql.functions import lit, concat

employee_data = [(10,"Raj","Kumar","1999","100","M",2000),
                 (20,"Rahul","Rajan","2002","200","f",2000),
                 (30,"Raghav","Manish","2010","100",None,2000),
                 (40,"Raja","Singh","2004","100","F",2000),
                 (50,"Rama","Krish","2008","400","M",2000),
                 (60,"Rasul","Kutty","2014","500","M",2000),
                 (70,"Kumar","Chand","2004","600","M",2000)
                ]
employee_schema = ["employee_id","first_name","last_name","doj",
                   "employee_dept_id","gender","salary"]

df = spark.createDataFrame(data=employee_data, schema=employee_schema)

#### Añadir una nueva columna utilizando una constante literal

In [ ]:
df_nuevaCol = df.withColumn("Location",lit("Mumbai"))
display(df_nuevaCol)

employee_id,first_name,last_name,doj,employee_dept_id,gender,salary,Location
10,Raj,Kumar,1999,100,M,2000,Mumbai
20,Rahul,Rajan,2002,200,f,2000,Mumbai
30,Raghav,Manish,2010,100,null,2000,Mumbai
40,Raja,Singh,2004,100,F,2000,Mumbai
50,Rama,Krish,2008,400,M,2000,Mumbai
60,Rasul,Kutty,2014,500,M,2000,Mumbai
70,Kumar,Chand,2004,600,M,2000,Mumbai

#### Añadir una nueva columna utilizando una constante literal y concat

In [ ]:
df_nuevaCol = df.withColumn("name",concat("first_name",lit(" "),"last_name"))
display(df_nuevaCol)

employee_id,first_name,last_name,doj,employee_dept_id,gender,salary,name
10,Raj,Kumar,1999,100,M,2000,Raj Kumar
20,Rahul,Rajan,2002,200,f,2000,Rahul Rajan
30,Raghav,Manish,2010,100,null,2000,Raghav Manish
40,Raja,Singh,2004,100,F,2000,Raja Singh
50,Rama,Krish,2008,400,M,2000,Rama Krish
60,Rasul,Kutty,2014,500,M,2000,Rasul Kutty
70,Kumar,Chand,2004,600,M,2000,Kumar Chand

#### Añadir una nueva columna por cálculo

In [ ]:
df_modif = df.withColumn("Bonus",df.salary * 0.1)
display(df_modif)

employee_id,first_name,last_name,doj,employee_dept_id,gender,salary,Bonus
10,Raj,Kumar,1999,100,M,2000,200.0
20,Rahul,Rajan,2002,200,f,2000,200.0
30,Raghav,Manish,2010,100,null,2000,200.0
40,Raja,Singh,2004,100,F,2000,200.0
50,Rama,Krish,2008,400,M,2000,200.0
60,Rasul,Kutty,2014,500,M,2000,200.0
70,Kumar,Chand,2004,600,M,2000,200.0