### ![Spark Logo Tiny](https://files.training.databricks.com/images/105/logo_spark_tiny.png) Pivot y Unpivot

In [0]:
data = [('ABC','Q1',2000),
        ('ABC','Q2',3000),
        ('ABC','Q3',1000),
        ('ABC','Q4',4000),
        ('XYZ','Q1',6000),
        ('XYZ','Q2',7000),
        ('XYZ','Q3',9000),
        ('XYZ','Q4',8000),
        ('KLM','Q1',9000),
        ('KLM','Q2',2000),
        ('KLM','Q3',5000),
        ('KLM','Q4',7000),
       ]

columnas = ['compania','trimestre','ganancia']

df = spark.createDataFrame(data, columnas)

df.printSchema()
df.show()

root
 |-- compania: string (nullable = true)
 |-- trimestre: string (nullable = true)
 |-- ganancia: long (nullable = true)

+--------+---------+--------+
|compania|trimestre|ganancia|
+--------+---------+--------+
|     ABC|       Q1|    2000|
|     ABC|       Q2|    3000|
|     ABC|       Q3|    1000|
|     ABC|       Q4|    4000|
|     XYZ|       Q1|    6000|
|     XYZ|       Q2|    7000|
|     XYZ|       Q3|    9000|
|     XYZ|       Q4|    8000|
|     KLM|       Q1|    9000|
|     KLM|       Q2|    2000|
|     KLM|       Q3|    5000|
|     KLM|       Q4|    7000|
+--------+---------+--------+

#### Pivot

In [0]:
df_pivot = df.groupBy('compania').pivot('trimestre').sum('ganancia')

df_pivot.show()

+--------+----+----+----+----+
|compania|  Q1|  Q2|  Q3|  Q4|
+--------+----+----+----+----+
|     KLM|9000|2000|5000|7000|
|     XYZ|6000|7000|9000|8000|
|     ABC|2000|3000|1000|4000|
+--------+----+----+----+----+

#### Unpivot

In [0]:
df_unpivot = df_pivot.selectExpr("compania","stack(4,'Q1',Q1,'Q2',Q2,'Q3',Q3,'Q4',Q4) as (trimestre,ganancia)")

df_unpivot.show()

+--------+---------+--------+
|compania|trimestre|ganancia|
+--------+---------+--------+
|     KLM|       Q1|    9000|
|     KLM|       Q2|    2000|
|     KLM|       Q3|    5000|
|     KLM|       Q4|    7000|
|     XYZ|       Q1|    6000|
|     XYZ|       Q2|    7000|
|     XYZ|       Q3|    9000|
|     XYZ|       Q4|    8000|
|     ABC|       Q1|    2000|
|     ABC|       Q2|    3000|
|     ABC|       Q3|    1000|
|     ABC|       Q4|    4000|
+--------+---------+--------+