### ![Spark Logo Tiny](https://files.training.databricks.com/images/105/logo_spark_tiny.png) Funciones de agregación

In [0]:
lista = [['1','alfonso','IT',45000],
         ['2','alfredo','CS',85000],
         ['3','maria','CS',32000],
         ['4','javiera','ECE',98000],
         ['5','tomas','IT',66000],
         ['6','jose','AKA',47000],
         ['7','cristian','PET',12000],
         ['8','nelson','AKA',33000],
        ]

columnas = ['ID','NOMBRE','AREA','SALARIO']
df = spark.createDataFrame(lista,columnas)
df.printSchema()
df.show(truncate=False)

root
 |-- ID: string (nullable = true)
 |-- NOMBRE: string (nullable = true)
 |-- AREA: string (nullable = true)
 |-- SALARIO: long (nullable = true)

+---+--------+----+-------+
|ID |NOMBRE  |AREA|SALARIO|
+---+--------+----+-------+
|1  |alfonso |IT  |45000  |
|2  |alfredo |CS  |85000  |
|3  |maria   |CS  |32000  |
|4  |javiera |ECE |98000  |
|5  |tomas   |IT  |66000  |
|6  |jose    |AKA |47000  |
|7  |cristian|PET |12000  |
|8  |nelson  |AKA |33000  |
+---+--------+----+-------+

#### Count

In [0]:
from pyspark.sql.functions import count

df.select(count("*")).show()

+--------+
|count(1)|
+--------+
|       8|
+--------+

#### Sum

In [0]:
from pyspark.sql.functions import sum

df.select(sum("SALARIO")).show()

+------------+
|sum(SALARIO)|
+------------+
|      418000|
+------------+

In [0]:
from pyspark.sql.functions import col

df.filter(col('AREA') == 'IT').select(sum("SALARIO")).withColumnRenamed("sum(SALARIO)","total_IT").show()
#df.filter(col('AREA') == 'IT').select(sum("SALARIO").alias("total_IT")).show()

+--------+
|total_IT|
+--------+
|  111000|
+--------+

In [0]:
#import pyspark.sql.functions as column ---> Lo mismo
#import pyspark.sql.functions as F ---> Otra forma
#df = df.agg(F.sum('SALARIO'))
from pyspark.sql import functions as column

df = df.agg(column.sum('SALARIO'))
df.show()

+------------+
|sum(SALARIO)|
+------------+
|      418000|
+------------+

In [0]:
df.agg(column.sum('SALARIO')).collect()

Out[35]: [Row(sum(SALARIO)=418000)]

In [0]:
df.agg(column.sum('SALARIO')).collect()[0]

Out[33]: Row(sum(SALARIO)=418000)

In [0]:
df.agg(column.sum('SALARIO')).collect()[0][0]

Out[36]: 418000