### ![Spark Logo Tiny](https://files.training.databricks.com/images/105/logo_spark_tiny.png) Funciones window

In [0]:
lista = [['1','alfonso','IT',45000],
         ['2','alfredo','CS',85000],
         ['3','maria','CS',32000],
         ['4','javiera','ECE',98000],
         ['5','tomas','IT',66000],
         ['6','jose','AKA',47000],
         ['7','cristian','PET',12000],
         ['8','nelson','AKA',33000],
        ]

columnas = ['ID','NOMBRE','AREA','SALARIO']
df = spark.createDataFrame(lista,columnas)
df.printSchema()
df.show(truncate=False)

root
 |-- ID: string (nullable = true)
 |-- NOMBRE: string (nullable = true)
 |-- AREA: string (nullable = true)
 |-- SALARIO: long (nullable = true)

+---+--------+----+-------+
|ID |NOMBRE  |AREA|SALARIO|
+---+--------+----+-------+
|1  |alfonso |IT  |45000  |
|2  |alfredo |CS  |85000  |
|3  |maria   |CS  |32000  |
|4  |javiera |ECE |98000  |
|5  |tomas   |IT  |66000  |
|6  |jose    |AKA |47000  |
|7  |cristian|PET |12000  |
|8  |nelson  |AKA |33000  |
+---+--------+----+-------+

#### Rank

In [0]:
from pyspark.sql.window import Window
from pyspark.sql.functions import desc, rank

itRank = Window.partitionBy('AREA').orderBy(desc('SALARIO'))
df.withColumn("rank", rank().over(itRank)).show()

+---+--------+----+-------+----+
| ID|  NOMBRE|AREA|SALARIO|rank|
+---+--------+----+-------+----+
|  6|    jose| AKA|  47000|   1|
|  8|  nelson| AKA|  33000|   2|
|  2| alfredo|  CS|  85000|   1|
|  3|   maria|  CS|  32000|   2|
|  4| javiera| ECE|  98000|   1|
|  5|   tomas|  IT|  66000|   1|
|  1| alfonso|  IT|  45000|   2|
|  7|cristian| PET|  12000|   1|
+---+--------+----+-------+----+