### ![Spark Logo Tiny](https://files.training.databricks.com/images/105/logo_spark_tiny.png) Extraer el primer valor de una columna

In [0]:
data = [['1','sravan','company 1'],
        ['2','ojaswi','company 2'],
        ['3','bobby','company 3'],
        ['4','rohith','company 4'],
        ['5', 'alfonso','company 5']
       ]

columnas = ['id_empleado','nombre','empresa']

df = spark.createDataFrame(data, columnas)

df.show(truncate=False)

+-----------+-------+---------+
|id_empleado|nombre |empresa  |
+-----------+-------+---------+
|1          |sravan |company 1|
|2          |ojaswi |company 2|
|3          |bobby  |company 3|
|4          |rohith |company 4|
|5          |alfonso|company 5|
+-----------+-------+---------+

In [0]:
df.first().nombre

Out[2]: 'sravan'